body {
    background-image: linear-gradient(to bottom, #e2e2e286, #050505);
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    margin-bottom: 10%;   
}

.container {
    width: 60%;
    margin: auto;
}

.container img {
    height: 200px;
    width: 200px;
    margin-right: 30px;
    margin-bottom: 25px;
}

.container #main_content {
    background: #fff;
    margin-top:3%;
    padding: 2%;
    border: 2px solid #ccc;
    align-self: center;
}

.labelBox {
    color:#fff;
    background-color: #343a40;
    border: 4px solid;
}

h1.navbar-brand {
    display: inline-block;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 2.25rem;
}

footer {
    background: #343a40;
    margin-top: 5%;
    padding: 2%;
    border-top: 8px solid;
    border-color: #777777;
    color: #ccc;
    text-align: center;
    font-size: 12px;
}

h1.navbar-brand {
    font-weight: bold;
}

input {
    color: #777;
    font-size: 18px;
    display: block;
    width: 100%;
    margin-bottom: 2%;
    padding: 5px;
}

textarea {
    width: 100%;
    height: 200px;
    margin-bottom: 2%;
}

button {
    font-size: 16px;
    background: #343a40;
    color: #fff;
    padding: 10px 20px;
}

h1 {
    color: rgb(56, 56, 56);
    font-weight: bold;
}

